@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");
* {
    box-sizing: border-box;
}
:root {
    --font-heading: "PT Sans", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
html,
body {
    scroll-behavior: smooth;
}
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    transition: all 0.3s ease-in-out;
}
button {
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}
/* COMMON */
.container {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.tran3s {
    transition: all 0.3s ease-in-out;
}
/* top-page */
.top-page {
    display: flex;
    min-height: 496px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/bg-shop.jpg) no-repeat center / cover;
    margin-bottom: 110px;
}
.top-page .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    margin-top: 40px;
}
.header .logo {
    height: 34px;
    display: block;
}
.header .nav {
    display: flex;
    gap: 15px;
}
.header .nav li {
    position: relative;
}
.nav > li > a {
    padding: 20px 20px;
    font-family: var(--font-heading);
    font-weight: 700;
    color: #fff;
}
.nav > li:hover .sub-nav {
    opacity: 1;
    transform: scaleY(1);
}
.sub-nav {
    position: absolute;
    top: 35px;
    left: -5px;
    opacity: 0;
    background-color: #fff;
    width: 220px;
    padding: 0;
    margin: 0;
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    transform: scaleY(0);
    transform-origin: 0 top;
    transition: all 0.4s ease-in-out;
}
.sub-nav li a {
    transition: transform 0.3s ease-in-out;
}
.sub-nav li:hover {
    background-color: #b80257;
}
.sub-nav li:hover a {
    color: #fff;
    transform: translateX(5px);
}
.sub-nav a {
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 45px;
    padding: 0 0 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.user-actions {
    display: flex;
    position: relative;
}
.user-actions .action-btn {
    padding: 14px;
    color: #fff;
    cursor: pointer;
}
/* Open search */

.user-actions form {
    position: absolute;
    display: none;
    height: 55px;
    width: 280px;
    padding: 5px;
    right: 25px;
    top: 40px;
    background: #fff;
}
.user-actions input {
    width: 100%;
    height: 100%;
    border: 1px solid #ececec;
    padding: 0 49px 0 10px;
}
.user-actions .search-drop {
    width: 48px;
    color: #fff;
    background: #b80257;
    border: 1px solid #fff;
    border-left: none;
    line-height: 45px;
    position: absolute;
    top: 4px;
    right: 5px;
}
.user-actions .user-action-open:checked ~ .search-form {
    display: block;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
}
.hero h1 {
    font-size: 3.2rem;
    font-weight: 700;
}
.hero li a:hover {
    color: #783df0;
}
.breadcrumbs {
    display: flex;
}
.breadcrumbs li {
    display: flex;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.breadcrumbs li + li::before {
    content: " / ";
    padding: 0 5px;
}
/* Main page */
.shop-page {
    display: flex;
    flex-direction: row;
}
.shop-product {
    /* width: 75%; */
    padding: 0 15px;
    order: 2;
}
.select-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
    font-size: 1.6rem;
    position: relative;
}
.btn-dropdown {
    width: 200px;
    height: 45px;
    padding: 0 0 0 15px;
    background: transparent;
    border: 1px solid #ececec !important;
    position: relative;
    text-align: left;
}
.btn-dropdown span {
    display: inline-block;
    line-height: 45px;
}
.btn-dropdown i {
    position: absolute;
    top: 35%;
    right: 10%;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: 0 top;
}
.dropdown li {
    padding: 10px 15px;
    cursor: pointer;
}
.dropdown li:hover {
    background: #b80257;
    color: #fff;
}
#open-filter:checked ~ .dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* Product */
.shop-page {
    margin-bottom: 100px;
}
.product-row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}
.col-lg-4 {
    width: calc(33.3333% - 20px);
}
.single-product:hover .image img {
    transform: scale3D(1.1, 1.1, 1);
}
.single-product .image {
    overflow: hidden;
}
.single-product img {
    display: block;
    width: 100%;
    transition: all ease-in-out 0.6s;
}
.single-product .info {
    border: 1px solid #f0f0f3;
    border-top: none;
    text-align: center;
    padding: 32px 0 35px 0;
    margin-bottom: 30px;
}
.single-product .info h6 {
    font-size: var(--font-heading);
    font-size: 18px;
    font-weight: 700;
    color: #242222;
    display: block;
}
.single-product .info p {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 700;
    margin: 12px 0 15px 0;
}
.single-product .info > a {
    display: inline-block;
    width: 130px;
    line-height: 40px;
    color: #fff;
    background: #b80257;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.single-product .info > a:hover {
    transform: translateY(-5px);
}
.single-product .info > a::before {
    content: "";
    position: absolute;
    left: 5%;
    top: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    height: 10px;
    width: 90%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}
.single-product .info > a:hover::before {
    opacity: 1;
    transform: translateY(5px);
}
/* shop-pagination */
.shop-pagination {
    text-align: center;
    margin-top: 20px;
}
.shop-pagination li {
    display: inline-block;
}
.shop-pagination li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    background-color: #b80257;
    margin: 0 4px;
}
.shop-pagination li a:hover {
    background-color: #783df0;
    color: #fff;
}
/* Sidebar */
.shop-sidebar {
    /* width: 25%; */
    padding: 0 15px;
    order: 1;
}
.search-form {
    height: 45px;
    position: relative;
}
.search-form input {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    border: none;
    padding: 0 102px 0 10px;
    font-style: italic;
    font-size: 15px;
}
.search-form .btn-search {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    color: #fff;
    background: #b80257;
}
.sidebar-shop-categories {
    margin: 60px 0;
}
.sidebar-shop-categories h4 {
    position: relative;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #000000cc;
}
.sidebar-shop-categories li a {
    font-size: 16px;
    color: rgba(36, 34, 34, 0.7);
    display: block;
    padding: 5px 0;
    margin-bottom: 15px;
}
.sidebar-shop-categories li a:hover {
    color: #b80257;
}
.shop-popular-product ul li {
    margin-bottom: 30px;
}
.shop-popular-product h4 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #000000cc;
}
.shop-popular-product h6 a {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #242222;
    display: block;
    margin: 13px 0;
}
.shop-popular-product h6 a:hover {
    color: #b80257;
}

.shop-popular-product .name {
    width: calc(100% - 100px);
    padding-left: 20px;
    float: right;
}
.shop-popular-product strong {
    font-family: var(--font-heading);
    display: block;
}
/* Footer */
.footer {
    width: 100%;
    display: flex;
    background-color: #151515;
    padding: 80px 0 160px 0;
}
.inner-footer {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.footer h6 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 8px 0 25px 0;
}
.col-list-footer {
    color: rgba(255, 255, 255, 0.6);
    flex-basis: 15%;
}
.col-list-footer li a {
    color: rgba(255, 255, 255, 0.6);
    line-height: 30px;
}
.col-list-footer li a:hover {
    color: #b80257;
}
.col-list-footer p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}
.footer-logo,
.footer-subscribe {
    width: 30%;
    color: rgba(255, 255, 255, 0.6);
}
.footer-logo p {
    margin: 20px 0;
    line-height: 22px;
}
.footer-media {
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer-subscribe input {
    width: 100%;
    height: 40px;
    background: #272727;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    margin: 25px 0 10px 0;
    color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe .send-email {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    color: #fff;
    background-color: #b80257;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.footer-subscribe .send-email::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.footer-subscribe .send-email:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.footer-subscribe .send-email:hover {
    color: #b80257;
}
/* Scroll */
.scroll-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    z-index: 99;
    text-align: center;
    color: #fff;
    background: #b80257;
    font-size: 20px;
}
